@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
	--radius: 20px;
}

.blue {
    color: hsl(218, 44%, 22%);
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 0;
}

p {
    font-family: "Outfit", sans-serif;
	text-align: center;
	color: hsl(216, 15%, 48%);
	font-weight: 400;
}

p:last-of-type {
	margin: 20px;
	font-size: 15px;
}

.container {
	width: min-content;
	padding: 20px;
	margin: auto;
	background-color: hsl(0, 0%, 100%);
	border-radius: var(--radius);
    box-shadow: -5px 5px 20px 0px rgba(0, 0, 0, 0.233);
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
	background-color: hsl(212, 45%, 89%);
}

img {
	width: 300px;
    margin-bottom: 20px;
	border-radius: var(--radius);
}
